.bg{
   background-color: dimgrey;
    color: aliceblue;    
}
.text{
    font-weight: bold;
}
.text-right{
    text-align: right;
}
.main-background{
    background: rgb(147,147,147);
    background: radial-gradient(circle, rgba(147,147,147,1) 7%, rgba(93,92,107,1) 100%);
    padding: 20%;
}
.head{
    width: 100%;
	background: dimgrey;
	height: 1%;
    color: white;
    padding: 1px;  
}
.link{
    color: white;
}
.footer{
    width: 100%;
	background: black;
	height: auto;
    color: grey;
    padding: 3%;   
    position:absolute;
    bottom: auto;
    left: 0px;  
    min-height: 10vh;
}
.bio{
    background: radial-gradient(white, white);   
    padding: 20%;  
}
.portfolio-background{
    background-color: grey;
    padding: 10%;
    border-bottom-style: solid;
}
section {
    display: flex;
  }
  article {
    padding: 10px;
    margin: 10px;
    background: grey;
  }
.flex{
    padding-left: 5%;
    padding-right: 5%;
}
